<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipes | Recipes</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Cantarell|Montserrat|Open+Sans|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}" />
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar fixed-top bg-faded">
      <div id="logo-container" class="d-flex">
        <a class="headerlogo mr-4 mt-2" href="{{ url_for('showCategories') }}">
            <img id="headerlogo" class="img-fluid" src="{{ url_for('static', filename='images/lasagna.jpg') }}" />
        </a>
        <div id="headername" class="d-flex flex-nowrap align-items-center">Recipes!</div>
      </div>
      <div id=login-info class="d-flex align-items-center justify-content-around">
      {% if email != None %}
        <p id="login-welcome" class="mb-0 pr-2">Welcome {{ username }}</p>
        <a id="logout-link" class="pl-2" href="{{ url_for('gdisconnect') }}">Logout</a>
      {% else %}
        <a id="login-link" href="{{ url_for('showLogin') }}">Login</a>
      {% endif %}
      </div>
      <button class="navbar-toggler navbar-toggler-right custom-toggler" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" aria-controls="navbar-collapse-1" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse flex-row justify-content-end w-25" id="navbar-collapse-1">
        <ul class="navbar-nav nav text-end text-center">
        {% for category in categories %}
          <li class="nav-item active"><a class="nav-link" href="index.html">{{category.name}}</a></li>
        {% endfor %}
        </ul>
      </div>
    </nav>
    <main class="container d-flex">
      <div class="flash-message text-center">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <section id="category-container" class="data-container aside-container d-flex flex-column mx-auto">
        <header>
          <h3 class="text-center">Categories</h3>
          <div class="text-center">
            <a href="{{ url_for('newCategory') }}">Create a new Category</a>
          </div>
        </header>
        {% for category in categories %}
        <article class="data-article d-flex align-items-center">
          <a class="data-article-name" href="{{ url_for('showRecipes', category_id=category.id)}}">{{ category.name }}</a>
          {% if email != None and user_id == category.user_id %}
          <a class="data-article-btn btn btn-sm edit-btn" href="{{ url_for('editCategory', category_id=category.id) }}">Edit</a>
          <a class="data-article-btn btn btn-danger btn-sm delete-btn" href="{{ url_for('deleteCategory', category_id=category.id) }}">Delete</a>
          {% endif %}
        </article>
        {% endfor %}
      </section>
      <section id="recipe-container" class="data-container main-container d-flex flex-column mx-auto">
        <header>
          <h3 class="text-center">{{ category.name }} Recipes</h3>
          <div class="text-center">
            <a href="{{ url_for('newRecipe', category_id=category.id) }}">Create a new Recipe</a>
          </div>
        </header>
        {% for recipe in recipes %}
        <article class="data-article d-flex align-items-center">
          <a class="data-article-name" href="{{ url_for('showIngredients', category_id=recipe.category_id, recipe_id=recipe.id)}}">{{ recipe.name }}</a>
          {% if email != None and user_id == recipe.user_id %}
          <a class="data-article-btn btn btn-sm edit-btn" href="{{ url_for('editRecipe', category_id=recipe.category_id, recipe_id=recipe.id) }}">Edit</a>
          <a class="data-article-btn btn btn-danger btn-sm delete-btn" href="{{  url_for('deleteRecipe', category_id=recipe.category_id, recipe_id=recipe.id) }}">Delete</a>
          {% endif %}
        </article>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
